[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
celery = "*"
redis = "*"
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
django-redis = "*"
djangorestframework = "*"
django-celery-beat = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.8"
